body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    color: #ffffff;
}

*,
*:before,
*:after{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

/* Container */
.container{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

/* Header */
.header{
    width: 100%;
    height: 810px;
    background: url("../images/header.jpg") center no-repeat;
    background-size: cover;
}

.header__intro{
    padding-top: 100px;
    text-align: center;
}

.header__websiteName{
    font-size: 50px;
    font-weight: 500;
}

.header__websiteName:after{
    content: "";
    display: block;
    width: 128px;
    height: 2px;
    background-color: #9bc66d;
    position: absolute;
    left: 46.5%;
    top: 19%;
    z-index: 1;
}

.header__intro p{
    font-size: 32px;
    font-weight: 300;
}

.header__tabs{
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
}

.header__qrCode{
    width: 378px;
    height: 228px;
    text-align: center;
}

.header__qrCode h2{
    margin-top: 28px;
}

.header__qrText{
    font-size: 25px;
    font-weight: 400;
    margin-top: 10px;
}

.header__qrCodePic{
    width: 135px;
    height: 135px;
}

.header__phonePic{
    width: 300px;
    height: 600px;
}

.header h2{
    font-size: 32px;
    font-weight: 400;
}

/* About Us */
.about{
    padding-top: 320px;
    background-color: #32383d;
}

.about .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about h2{
    font-weight: 500;
    font-size: 32px;
    margin-left: 130px;
}

.about__weAreBestIn{
    width: 586px;
    height: 400px;
}

.about__weAreBestIn__tabs{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.about_weAreBestIn_text{
    font-weight: 400;
    font-size: 18px;
    margin-left: 50px;
    margin-top: 25px;
}

.about__whatWeOffer{
    width: 586px;
    height: 400px;
}

.about__whatWeOffer__tabs{
    display: flex;
    justify-content: left;
    padding-top: 20px;
    padding-left: 130px;
}

.about__whatWeOffer_text{
    font-weight: 400;
    font-size: 18px;
    margin-top: 7px;
    margin-left: 30px;
}

/* Footer */
.footer{
    width: 100%;
    height: 117px;
    background: url("../images/footer.jpg") center no-repeat;
    background-size: cover;
}